<!-- Bootstrap JS -->
<!-- <footer class="">
  <p class="text-center btn-success">This is Temporary Footer</p>
</footer> -->

<!-- <footer>
  <div class="icon-container">
     <a href="https://github.com/special3220"
        ><i class="icons fab fa-github"></i
        ></a>
     <a href="https://www.linkedin.com/in/tawfiqulhasankhan/"
        ><i class="icons fab fa-linkedin"></i
        ></a>
  </div>
  <p class="credit">Created by, Md Tawfiqul Hasan Khan</p>
  <button onclick="topFunction()" id="myBtn" title="Go to top">
  Top
  </button>
</footer> -->

<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/tawfiqulhasankhan/"
        role="button"><i class="fab fa-linkedin-in"></i></a>
      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/special3220" role="button"><i
          class="fab fa-github"></i></a>
    </section>
  </div>
  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
    Created by, Md Tawfiqul Hasan Khan
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/4cfb43502c.js" crossorigin="anonymous"></script>
</body>

</html>