<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <title>Urls Index Page</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- <p class="text-primary text-center">
          <%= urls.b2xVn2 %>
        </p>     -->
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col"> FullUrls</th>
              <th scope="col"> ShortenedUrls</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Sunny</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>